<% @subs.each do |sub| %>
  <a href="<%= sub_url(sub) %>">
  <%= sub.title %>
  </a>
  <br>
  By: <%= sub.moderator.username %>
  <br>
  <br>
<% end %>

<br>
<br>
<a href="<%= new_sub_url %>">Create New Sub</a>