/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #faffd6;
  color: palevioletred;
  font-size: 1.3em;
  text-align: center;
  background: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

input[type=text] {
  background-color: #faffd6;
  color: palevioletred
}

input[type=text]:hover {
  background-color: palevioletred;
  color: white;
}

input[type=submit] {
  background-color: #faffd6;
  border: none;
  color: palevioletred;
  padding: 15px, 15px;
  text-decoration: none;
  margin: 10px, 10px;
  cursor: pointer;
  font-size: 1.3em;
  border-radius: 10px;
}

input[type=submit]:hover {
  background: #f4cbda;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #eee;
  text-shadow: none;
}

a {
  font-size: 1.3em;
  text-decoration: none;
  color: palevioletred;
}

a:hover {
  text-decoration: underline;
  color: lightskyblue;
}
